.active {
    color: rgb(97, 93, 93);
    cursor: default;   
    font-weight: normal;
}

.condition {
    display: inline-block;
    font-size: 20px;
}

.condition:first-letter {
    text-transform: capitalize;
}

.container {
    font-family: 'Kaisei HarunoUmi', serif;
    color:rgb(97, 93, 93);
}

.current-temperature {
    font-size: 61px;    
}



.date-time {
font-size: 20px;
display: inline-block;
}

.date-time:first-letter {
    text-transform: capitalize;
}

.img {
    position: relative;
    top: -20px;
    padding: 10px;
}

#search-button {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: rgba(150, 44, 134, 0.5);
    border-style: none;
    box-shadow: 5px 5px 20px 0.5px rgb(97, 93, 93, 0.2);
}

#search-button:hover {
background-color: rgba(186, 229, 240, 0.3);
border-color: rgba(186, 229, 240, 0.3);
}

.time-note {
    font-size: 12px;
}

.wrapper-weather-main {
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-color: rgba(186, 229, 240, 0.3);
    border-radius: 10px;
    box-shadow: 5px 5px 20px 1px rgba(150, 44, 134, 0.16);
}

.units {
    position: relative;
    top: -30px;
}

a {
    text-decoration: none;
    font-weight: bold; 
}

p {
    padding-left: 15px;
    padding-top: 10px;
    font-size: small;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

